@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img class="slideFotos" id="inicio" src="~/Recursos/Deposito.jpg" />
    </div>
    <div class="col-md-12">
        <img class="slideFotos" src="~/Recursos/Articulos.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Artículos con menor stock</h2>
        @{ Html.RenderPartial("~/Views/Articulo/_ArticulosConMenorStock.cshtml", new GAP.Controllers.ArticuloController()._ArticulosConMenorStock()); }
        <p>@Html.ActionLink("Ver todos", "Index", "Articulo")</p>
    </div>
    <div class="col-md-6">
        <h2>Artículos con mayor stock</h2>
        @{ Html.RenderPartial("~/Views/Articulo/_ArticulosConMenorStock.cshtml", new GAP.Controllers.ArticuloController()._ArticulosConMayorStock()); }
        <p>@Html.ActionLink("Ver todos", "Index", "Articulo")</p>
    </div>
</div>